<a href="https://colab.research.google.com/github/rodrigowe1988/Python/blob/main/Santanders_Coders_Data_Science_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Variáveis

In [ ]:
#armazenando um valor inteiro dentro de uma variável
x = 5
x

5

In [ ]:
type(x)

int

In [ ]:
preco = 19.99
print(preco, type(preco))

19.99 <class 'float'>

In [ ]:
cidade = 'Florianópolis'
print(cidade, type(cidade))

Florianópolis <class 'str'>

In [ ]:
#valores booleanos(True ou False)
disponivel = False
print(disponivel, type(disponivel))

False <class 'bool'>

## Operadores Aritméticos

In [ ]:
#Podemos fazer operações aritméticas simples
a = 2 + 3  # Soma
b = 2 - 3  # Subtração
c = 2 * 3  # Multiplicação
d = 2 / 3  # Divisão
e = 2 // 3 # Divisão inteira
f = 2 ** 3 # Potência
g = 2 % 3  # Resto de divisão

print (a, b, c, d, e, f, g)

5 -1 6 0.6666666666666666 0 8 2

In [ ]:
# Podemos fazer operações dentro do print

print (a+1, b+1)

6 0

In [ ]:
#Podemos fazer operações com variáveis não inteiras
name = str(input('Digite seu nome: ')).capitalize()
last_name = str(input('Digite seu sobrenome: ')).capitalize()
full_name = name + ' ' + last_name
print(full_name)

Digite seu nome: rodrigo
Digite seu sobrenome: weber
Rodrigo Weber

## Operadores relacionais

In [ ]:
{comparacao1 = 5 > 3
print(comparacao1)
comparacao2 = 5 < 3
print(comparacao2)

True
False

### O Python possui 6 operadores relacionais:

* Maior que: >
* Maior ou igual: >=
* Menor que: <
* Menor ou igual: <=
* Igual: ==
* Diferente: !=

Operadores lógicos
Em alguns casos também precisamos testar se duas ou mais condições são verdadeiras. Para isso utilizaremos as conjunções lógicas:

* and: verdadeiro se condição 1 for verdadeira e condição 2 for verdadeira
* or: verdadeiro se condição 1 for verdadeira ou condição 2 for verdadeira

In [ ]:
comparacao1 = 5 > 3 and 6 > 3
comparacao2 = 5 < 3 and 6 > 3
print(comparacao1, comparacao2)

True False

In [ ]:
comparacao1 = 5 > 3 or 6 > 3
comparacao2 = 5 < 3 or 6 > 3
print(comparacao1, comparacao2)

True True

## Inputs e Outputs

In [ ]:
salario_base = float(input('Quanto você recebe por mês? '))
custos_mensais = float(input('Quanto você gasta mensalmente? '))

saldo = (salario_base * 13) - (custos_mensais * 12)

if saldo > 0:
  print(f"Seu saldo ficou positivo no ano, um total de R${saldo}.")
else:
  print(f'Nesse ano seu saldo terminou negativo, devendo {saldo} reais.')

Quanto você recebe por mês? 2000
Quanto você gasta mensalmente? 3000
Nesse ano seu saldo terminou negativo, devendo -10000.0 reais.

## Estruturas Condicionais

In [ ]:
exercicios = int(input('Quantos exercícios de Python vc já fez? '))

if exercicios > 30:
    print('Já está ficando profissional!')
elif exercicios > 20:
    print('Tá indo bem, bora fazer mais alguns!')
elif exercicios > 10:
    print('Vamos tirar o atraso?')
else:
    print('Xiiii...')

Quantos exercícios de Python vc já fez?100
Já está ficando profissional!

## Estruturas de Repetição (While)

In [ ]:
# Declaramos um contador como 0:
contador = 0
# Definimos o número de repetições:
numero = int(input('Digite um numero: '))
# Rodamos o while até o contador se igualar ao número de repetições:
while contador < numero:
    print(contador)
    contador = contador + 1

Digite um numero: 5
0
1
2
3
4

In [ ]:
while True:
    resposta = input('Digite OK: ').upper()
    if resposta == 'OK':
        break

Digite OK: 5
Digite OK: 3
Digite OK: certo
Digite OK: ok

In [ ]:
# o exemplo abaixo só sai do loop quando o usuário digitar "OK":
resposta = input('Digite OK: ').upper()
while resposta != 'OK':
    resposta = input('Não foi isso que eu pedi, digite OK: ').upper()

Digite OK: 32
Não foi isso que eu pedi, digite OK: tudo
Não foi isso que eu pedi, digite OK: teste
Não foi isso que eu pedi, digite OK: ok

## Listas e Tuplas

### Listas

In [ ]:
nomes_paises = ['Brasil', 'Argentina', 'China', 'Canadá', 'Japão']
print(f'Lista de países:{nomes_paises} e o comprimento da lista: {len(nomes_paises)}.')

Lista de países:['Brasil', 'Argentina', 'China', 'Canadá', 'Japão'] e o comprimento da lista: 5.

In [ ]:
#primeiro elemento da lista
print(nomes_paises[0])

#último elemento da lista
print(nomes_paises[-1])

#alterar o último elemento da lista
nomes_paises[-1] = 'Colômbia'
print(nomes_paises)

Brasil
Japão
['Brasil', 'Argentina', 'China', 'Canadá', 'Colômbia']

### Slice (fatiamento)

In [ ]:
print(nomes_paises[1:3])
print(nomes_paises[1:-1])

['Argentina', 'China']
['Argentina', 'China', 'Canadá']

In [ ]:
#imprimir na tela do índice 2 até o final da lista
print(nomes_paises[2:])

#imprimir na tela do primeiro elemento até o índice 3
print(nomes_paises[:3])

['China', 'Canadá', 'Colômbia']
['Brasil', 'Argentina', 'China']

In [ ]:
#imprimir os elementos por steps
print(nomes_paises[::2])

#de trás para frente
print(nomes_paises[::-1])

['Brasil', 'China', 'Colômbia']
['Colômbia', 'Canadá', 'China', 'Argentina', 'Brasil']

In [ ]:
#buscando um ocorrência dentro de uma lista
print('Brasil' in nomes_paises)

print('China' not in nomes_paises)

True
False

In [ ]:
lista_capitais = []
lista_capitais.append('Porto Alegre')
lista_capitais.append('Florianópolis')
lista_capitais.append('Washington')
lista_capitais.append('Lisboa')
lista_capitais.append('Buenos Aires')

print(lista_capitais)

['Porto Alegre', 'Florianópolis', 'Washington', 'Lisboa', 'Buenos Aires']

In [ ]:
#para inserir num índice específico da sua lista use o método insert
lista_capitais.insert(2, 'Paris')
print(lista_capitais)

['Porto Alegre', 'Florianópolis', 'Paris', 'Washington', 'Lisboa', 'Buenos Aires']

In [ ]:
#remover elemento da lista pelo nome
lista_capitais.remove('Buenos Aires')
print(lista_capitais)

['Porto Alegre', 'Florianópolis', 'Paris', 'Washington', 'Lisboa']

In [ ]:
removido = lista_capitais.pop(2)
print(removido)

Paris

In [ ]:
print(f'A capital da França é {removido}.')

A capital da França é Paris.

In [ ]:
#percorrendo a lista e extraindo o maior e o menor valor
digitos = [3, 1, 4, 1, 5, 9, 2, 6, 5]
maior = max(digitos)
menor = min(digitos)
print(digitos)
print("Maior = ", maior, "e menor = ", menor)

[3, 1, 4, 1, 5, 9, 2, 6, 5]
Maior =  9 e menor =  1

In [ ]:
#adicionando elementos à lista através do append
animais = []
resposta = 's'
while resposta in 'Ss':
    resposta = input('Deseja adicionar um animal à lista (s/n)? ')
    if (resposta in 'Ss'):
        animal = input('Digite o nome do animal: ')
        animais.append(animal) # adiciona o novo animal à lista
print(animais)

Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: Bufalo
Deseja adicionar um animal à lista (s/n)? S
Digite o nome do animal: zebra
Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: urso
Deseja adicionar um animal à lista (s/n)? n
['Bufalo', 'zebra', 'urso']

In [ ]:
#usando o método count para contar o número de vezes que cada palavra 
#aparece na lista
jogadores = ['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
ronaldos = jogadores.count('Ronaldo')
print(jogadores)
print('Quantidade de Ronaldos: ', ronaldos)

['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
Quantidade de Ronaldos:  2

In [ ]:
#descobrindo o índice que no qual o elemento está inserido
rivaldo = jogadores.index('Rivaldo')
print("Rivaldo está na posição ", rivaldo)

Rivaldo está na posição  1

In [ ]:
#imprimir em ordem alfabética
jogadores.sort()
print("jogadores em ordem alfabética: ", jogadores)

#imprimir 'de trás para frente'
jogadores.sort(reverse=True)
print('Lista de jogadores "de trás para frente"', jogadores)

jogadores em ordem alfabética:  ['Adriano', 'Rivaldo', 'Ronaldo', 'Ronaldo']
Lista de jogadores "de trás para frente" ['Ronaldo', 'Ronaldo', 'Rivaldo', 'Adriano']

### Tuplas

 Uma tupla é uma coleção de objetos que lembra muito as listas.

* Ao invés de colchetes, usamos parênteses para declarar as tuplas:
  * numeros = (1,2,3,5,7,11)

* Podemos declarar sem parênteses também:
  * numeros = 1,2,3,5,7,11

* Para acessar um valor, utilizamos a mesma sintaxe das listas:
  * print(numeros[4])
  * print(type(numeros))

Porém, tuplas são imutáveis: não é possível adicionar ou modificar valores.

* numeros[4] = 8

* Podemos gerar uma tupla a partir de uma lista...
  * lista1 = [3, 1, 4, 1, 5, 9, 2, 6, 5]
  * tupla1 = tuple(lista1)
  * print(tupla1)

* ...ou uma lista a partir de uma tupla:
  * tupla2 = [1, 6, 1, 8]
  * lista2 = list(tupla2)
  * print(lista2)

* Também pode-se usar o unpacking com uma tupla:
  * a, b, c, d, e, f = numeros # "desempacota" a tupla numeros
  * print("O primeiro vale:", a, "e o ultimo vale:", f)

In [ ]:
nomes_paises_tupla = ('Brasil', 'Argentina', 'China', 'Canadá', 'Japão')
type(nomes_paises_tupla)
print(nomes_paises_tupla[1][2])

g

In [ ]:
#outra forma de criar uma tupla
nome_estado = 'São Paulo', 'Rio de Janeiro', 'Santa Catarina'
print(nome_estado, type(nome_estado))

#terceira forma
nome_cidade = 'Florianópolis',
print(type(nome_cidade))

('São Paulo', 'Rio de Janeiro', 'Santa Catarina') <class 'tuple'>
<class 'tuple'>

In [ ]:
#atribuindo variáveis a cada um dos elementos das tuplas
b, a, ch, ca, j = nomes_paises_tupla
print(b, ch)
#imprimir separadamente cada um dos elementos presentes na tupla
print(*nomes_paises_tupla)
#imprimir a tupla inteira
print(nomes_paises_tupla)

Brasil China
Brasil Argentina China Canadá Japão
('Brasil', 'Argentina', 'China', 'Canadá', 'Japão')

## Strings I

In [ ]:
# Suponhamos que temos a seguinte string:

frase = 'uma FRASE'

# Podemos acessar individualmente cada caractere em uma frase.
# A ideia é a mesma de acessar uma lista:
print(frase[0])
print(frase[1])
print(frase[2])

tamanho = len(frase)
print("A frase possui", tamanho, "caracteres")

u
m
a
A frase possui 9 caracteres

In [ ]:
# Porém, strings são imutáveis: não podemos alterar caracteres individuais
# A linha abaixo, se for descomentada, dará erro no programa:
# frase[4] = 'C'

# Podemos converter strings para listas:
listafrase = list(frase)
print(listafrase)

# A função join() intercala cada elemento de uma lista com uma string.
stringfinal = '-py'.join(listafrase)
print(stringfinal)

# Usar um join() com uma string vazia é útil para transformar a lista de volta
# em string:
stringfinal = ''.join(listafrase)
print(stringfinal)

['u', 'm', 'a', ' ', 'F', 'R', 'A', 'S', 'E']
u-pym-pya-py -pyF-pyR-pyA-pyS-pyE
uma FRASE

In [ ]:

# Existem algumas funções interessantes que retornam a string "tratada":
s1 = frase.capitalize() # 1ª letra maiúscula, restante minúscula
s2 = frase.title() # todo início de palavra em maiúscula, resto minúscula
s3 = frase.upper() # string inteira em maiúscula
s4 = frase.lower() # string inteira em minúscula
s5 = frase.replace('F', 'C') # substitui a primeira substring pela segunda

print(s1)
print(s2)
print(s3)
print(s4)
print(s5)
# Note que NENHUMA delas ALTERA a string original, elas sempre retornam
# a string nova.
print('String original:', frase)

Uma frase
Uma Frase
UMA FRASE
uma frase
uma CRASE
String original: uma FRASE

In [ ]:

# Outra possibilidade com strings é quebrar a string em uma lista de substrings
# Sempre que o caractere especificado é encontrado, a string é quebrada
quebra1 = frase.split(' ') # quebra a frase no caractere espaço em branco
quebra2 = s3.split('A') # quebra a frase em maiúsculas no caractere 'A'

print(quebra1)
print(quebra2)

# Podemos inserir quebras de linha com '\n'
frase = 'uma\nFRASE'
print(frase)
# Podemos inserir tabulação com '\t'
frase = 'uma\n\tFRASE'
print(frase)
# Para conseguir representar a barra '\', precisamos de 2 barras:
frase = 'uma\\FRASE'

['uma', 'FRASE']
['UM', ' FR', 'SE']
uma
FRASE
uma
	FRASE

In [ ]:
#Trabalhando com aspas dentro da String
frase = 'O professor Pietro da Let\s Code disse: "Hoje a pizza é por minha conta!".'
print(frase)

O professor Pietro da Let\s Code disse: "Hoje a pizza é por minha conta!".

In [ ]:
empresa = 'Google'
print(empresa[0])
print(empresa[:3])
#imprima Google de trás para frente
print(empresa[::-1])

G
Goo
elgooG

In [ ]:
#Transformando os elementos de uma string em lista através de um separador específico
nomes_cidades = "São Paulo, Belo Horizonte, Rio de Janeiro, Florianópolis"
print(nomes_cidades, type(nomes_cidades))

nomes_cidades_lista = nomes_cidades.split(', ')
print(nomes_cidades_lista, type(nomes_cidades_lista))

São Paulo, Belo Horizonte, Rio de Janeiro, Florianópolis <class 'str'>
['São Paulo', 'Belo Horizonte', 'Rio de Janeiro', 'Florianópolis'] <class 'list'>

In [ ]:
#método strip para remover espaços
cabecalho = '           Menu Principal'
print(cabecalho.strip())

Menu Principal

In [ ]:
nome_de_cidade = "fLoriAnópoLIS - ilHA Da MaGiA"

print(nome_de_cidade.upper())
print(nome_de_cidade.lower())
print(nome_de_cidade.capitalize())
print(nome_de_cidade.title())

FLORIANÓPOLIS - ILHA DA MAGIA
florianópolis - ilha da magia
Florianópolis - ilha da magia
Florianópolis - Ilha Da Magia

In [ ]:
#quiz para treinar o estudo das Strings
nome_da_cidade = str(input("Qual cidade brasileira é conhecida com Ilha da Magia? ")).lower()
while nome_da_cidade != 'florianopolis':
  print('Não é essa. Tente mais uma vez: ')
  nome_da_cidade = str(input('De novo: qual cidade brasileira recebe o apelido de Ilha da Magia? ')).lower()
print("Nice, my friend. Florianópolis é a resposta.")

Qual cidade brasileira é conhecida com Ilha da Magia? brasilia
Não é essa. Tente mais uma vez:
De novo: qual cidade brasileira recebe o apelido de Ilha da Magia? bahia
Não é essa. Tente mais uma vez:
De novo: qual cidade brasileira recebe o apelido de Ilha da Magia? florianopolis
Nice, my friend. Florianópolis é a resposta.

In [ ]:
mensagem = 'Você viu o que o Pietro disse na sala ontem?'
print('Pietro' in mensagem)
print('Felipe' in mensagem)

True
False

## Strings II

In [ ]:
cumprimento = 'Olá, '
nome = str(input('Qual é o seu nome? ')).capitalize()
idade = int(input('Quantos anos você tem? '))
print(cumprimento + nome)
print(nome * 3)
print(nome + ' tem ' + str(idade) + ' anos.')

Qual é o seu nome? rodrigo
Quantos anos você tem? 22
Olá, Rodrigo
RodrigoRodrigoRodrigo
Rodrigo tem 22 anos.

### Método Format

In [ ]:
print('{} tem {} anos.'.format(nome, idade))

Rodrigo tem 22 anos.

In [ ]:
preco_gasolina = 4.569
print(f'O preço da gasolina subiu e está R${preco_gasolina:.2f}.')

O preço da gasolina subiu e está R$4.57.

### Uso de operadores aritméticos com strings

In [ ]:
# Dois operadores aritméticos possuem um comportamento especial em strings:
# Operador de soma (+): concatena (une) 2 strings.
palavra1 = "Let's"
palavra2 = "Code"
palavra3 = palavra1 + palavra2
print(palavra3)

# Operador de multiplicação (*): copia uma string 'n' vezes:
palavra = 'uma'
trespalavras = 3*palavra
print(trespalavras)

Let'sCode
umaumauma

In [ ]:
# Pode-se chamar as variávies em diferentes ordens:

print('{2}, {1} and {0}'.format('a', 'b', 'c'))
# Saída: c, b and a

print('{0}{1}{0}'.format('abra', 'cad'))
# Saída: abracadabra


# Podemos especificar um número de dígitos obrigatório por campo.
# Vejamos o exemplo:

dia = 1
mes = 8
ano = 2019
data1 = '{}/{}/{}'.format(dia, mes, ano)
print(data1)
# Saída: 1/8/2019
# O dia e o mês ocupam apenas 1 espaço


data2 = '{:2d}/{:2d}/{:4d}'.format(dia, mes, ano)
# A opção 'd' significa que o parâmetro é um número inteiro.
print(data2)
# Saída:  1/ 8/2019
# Agora, dia e mês ocupam obrigatoriamente 2 espaços:  1/ 8/2019

# Podemos forçar que os espaços em branco sejam preenchidos com o número 0:
data3 = '{:02d}/{:02d}/{:04d}'.format(dia, mes, ano)
print(data3)
# Saída: 01/08/2019
# Agora sim a data está no formato usual, dd/mm/aaaa: 01/08/2019

# Um modo mais simples de utilizar o format
nome = "Pietro"
profissao = "professor"
escola = "Let's Code"

print(f"{nome} é {profissao} da {escola}.")
# Saída: Pietro é professor da Let's Code.

c, b and a
abracadabra
1/8/2019
 1/ 8/2019
01/08/2019
Pietro é professor da Let's Code.

## Dicionários

Um dicionário é uma coleção, assim como as listas e as tuplas. Porém, enquanto as tuplas eram indexadas por um índice, os dicionários são indexados por chaves. Todo elemento em um dicionário possui uma chave e um valor. Chaves tipicamente são strings, valores podem ser qualquer tipo de dado.

In [ ]:
# O dicionário é definido pelos símbolos { e }

dicionario = {}

In [ ]:
# O dicionário não possui um "append".
# Adicionamos valores diretamente:

dicionario['cat'] = 'gato'
dicionario['dog'] = 'cachorro'
dicionario['mouse'] = 'rato'

print(dicionario)
print(type(dicionario))

{'cat': 'gato', 'dog': 'cachorro', 'mouse': 'rato'}
<class 'dict'>

In [ ]:
# Dicionários, assim como as listas, são mutáveis:
dicionario['dog'] = 'cão'
print(dicionario)

# Podemos criar o dicionário diretamente também:
dicionario2 = {'Curso': 'Python Pro', 'Linguagem':'Python', 'Módulo': 2}
print(dicionario2)

{'cat': 'gato', 'dog': 'cão', 'mouse': 'rato'}
{'Curso': 'Python Pro', 'Linguagem': 'Python', 'Módulo': 2}

In [ ]:
# Podemos utilizar o operador "in" para verificar se uma chave existe:
if 'cat' in dicionario:
    print('cat existe!') # Sim
if 'bird' in dicionario:
    print('bird existe!') # Não
if 'gato' in dicionario:
    print('gato existe!') # Não

cat existe!

In [ ]:
'''Também podemos utilizar as funções .keys() e .values() para obter listas
com apenas as chaves ou apenas os valores do dicionário.'''

chaves = dicionario.keys()
print(chaves)
# Saída: dict_keys(['cat', 'dog', 'mouse'])

valores = dicionario.values()
print(valores)
# Saída:dict_values(['gato', 'cão', 'rato'])

# Já a função .items(), retorna uma lista de tuplas (chave, valor) de um dicionário

itens = dicionario.items()
print(itens)
# Saída:dict_items([('cat', 'gato'), ('dog', 'cão'), ('mouse', 'rato')])

dict_keys(['cat', 'dog', 'mouse'])
dict_values(['gato', 'cão', 'rato'])
dict_items([('cat', 'gato'), ('dog', 'cão'), ('mouse', 'rato')])

In [4]:
#criando dicionário
dados_cidade = {
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'area_km2': 1500,
    'populacao_milhoes': 12.18
}
print(dados_cidade)

{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18}

In [5]:
#adicionando um novo item ao dicionário
dados_cidade['pais'] = 'Brasil'
print(dados_cidade)

{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [10]:
#'chamando' um item do do dicionário
dados_cidade['estado']

'São Paulo'

In [11]:
#cuidado ao fazer isso, pois as alterações feitas dessa maneira no 
#dicionário dados_cidade2 afetará o dados_cidade
dados_cidade2 = dados_cidade

Para que essa alteração não afete o primeiro dicionário, utilize o método .copy() do Python.

In [18]:
dados_cidade3 = dados_cidade.copy()
dados_cidade3['nome'] = 'Rio de Janeiro'
dados_cidade3['estado'] = 'Rio de Janeiro'
dados_cidade3

{'area_km2': 1500,
 'estado': 'Rio de Janeiro',
 'nome': 'Rio de Janeiro',
 'pais': 'Brasil',
 'populacao_milhoes': 12.18}

### Atualizar dados de um dicionário

In [20]:
novos_dados = {
    'populacao_milhoes' : 15,
    'fundacao': '25/01/1554'
}

dados_cidade.update(novos_dados)
dados_cidade

{'area_km2': 1500,
 'estado': 'São Paulo',
 'fundacao': '25/01/1554',
 'nome': 'São Paulo',
 'pais': 'Brasil',
 'populacao_milhoes': 15}

In [21]:
#consulta não encontrada
dados_cidade['prefeito']

KeyError: ignored

In [22]:
print(dados_cidade.get('prefeito'))

None

### Métodos para transformar dicionários em listas

In [23]:
print(dados_cidade.keys()) # retorna uma lista de chaves de um dicionário
print('----')
print(dados_cidade.values()) # retorna uma lista de valores de um dicionário
print('----')
print(dados_cidade.items()) # retorna uma lista de tuplas (chave, valor) de um dicionário

dict_keys(['nome', 'estado', 'area_km2', 'populacao_milhoes', 'pais', 'fundacao'])
----
dict_values(['São Paulo', 'São Paulo', 1500, 15, 'Brasil', '25/01/1554'])
----
dict_items([('nome', 'São Paulo'), ('estado', 'São Paulo'), ('area_km2', 1500), ('populacao_milhoes', 15), ('pais', 'Brasil'), ('fundacao', '25/01/1554')])

## Estrutura de Repetição FOR

O for é um tipo especial de loop feito para percorrer elementos de uma coleção. Acima vimos exemplos usando um while e um contador para percorrer uma lista. O for elimina a necessidade de inicializarmos um contador, incrementarmos e verificar a condição de parada. Sintaxe:

In [ ]:
for (variável temporária) in (lista):
    # instruções...
    # ...

In [ ]:
nomes_cidades = ['São Paulo', 'Maringá', 'Blumenau', 'Joinville']
for c in nomes_cidades:
  print(c)

São Paulo
Maringá
Blumenau
Joinville

In [ ]:
contador = 0
while contador < len(nomes_cidades):
  print(nomes_cidades[contador])
  contador += 1

São Paulo
Maringá
Blumenau
Joinville

### Laço for em Dicionário

In [ ]:
cidade = {
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'populacao_milhoes': 12.2
}
for chave in cidade:
  print(f'{chave}: {cidade[chave]}')

nome: São Paulo
estado: São Paulo
populacao_milhoes: 12.2

In [ ]:
nomes_cidades = ['São Paulo', 'Maringá', 'Blumenau', 'Joinville']
for nome in nomes_cidades:
  nome = 'Rio de Janeiro'
print(nomes_cidades)

['São Paulo', 'Maringá', 'Blumenau', 'Joinville']

Não houve alteração pois o FOR dessa forma somente lida com cópias dos valores da lista. Para alterar de fato os valores será necesário acessar cada elemento usando o índice relativo a ele.

In [ ]:
for posicao in range(len(nomes_cidades)):
  nomes_cidades[posicao] = 'Cidade ' + str(posicao)
print(nomes_cidades)

['Cidade 0', 'Cidade 1', 'Cidade 2', 'Cidade 3']

In [ ]:
print(list(range(10)))
print(list(range(2, 10)))
print(list(range(2, 10, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

### Percorrendo sequências numéricas
O for pode ser usado, junto com a função range(), para gerar sequências numéricas e contagens. Existem 3 meios de usar o range(): especificando 1, 2 ou 3 parâmetros.

In [ ]:
# Com 1 parâmetro, ele será interpretado como valor final (exclusivo).
# O valor inicial será 0 e o incremento será 1.

for numero in range(10):
    print(numero)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Com 2 parâmetros, o primeiro será o valor inicial (inclusivo) e o
# segundo será o final (exclusivo).
# O incremento continuará sendo 1.

for numero in range(1,11):
    print(numero)
    # este exemplo imprime os números de 1 a 10, de um em um

# Com 3 parâmetros, o terceiro será interpretado como incremento.
for numero in range(1,20,2):
    print(numero)
    # este exemplo imprime os ímpares positivos menores do que 20
    # ele começa valendo 1 e salta de 2 em 2 até atingir ou passar 20

# O incremento pode ser também um decremento (incremento negativo).
for numero in range (10,0,-1):
    print(numero)
    #Imprimindo os números de 1 a 10 em ordem decrescente

1
2
3
4
5
6
7
8
9
10
1
3
5
7
9
11
13
15
17
19
10
9
8
7
6
5
4
3
2
1

## Funções I
Funções são uma espécie de "subprograma". Elas são como pequenos pedacinhos de programa que podem ser chamadas pelo nome. Para criar uma função usamos o comando "def" e o nome da função. Elas são um bloco de comando assim como if/elif/else, while e for.

In [ ]:
def hello():
    print("Olá, mundo!")
hello()

Olá, mundo!

In [ ]:
def ola(nome):
    print("Olá", nome)
ola('Rodrigo')

Olá Rodrigo

In [ ]:
def media(valor1, valor2, valor3):
  return (valor1 + valor2 + valor3) / 3
media(5, 7, 8)

#ou armazenando o resultado da função dentro de uma variável
variavel_media = media(18, 32, 25)
print(variavel_media)

25.0

In [ ]:
#valores default dentro de métodos 
print('Rodrigo', end=' ')
print('Weber')

Rodrigo Weber

In [ ]:
#função media utilizando valores default
def media(valor1 = 0, valor2 = 0, valor3 = 0):
  return (valor1 + valor2 + valor3) / 3

#ou armazenando o resultado da função dentro de uma variável
resultado_media = media()
print(resultado_media)

0.0

In [ ]:
#a função pode receber vários parâmetros separados por vírgula
def dadosPessoais(nome, idade, cidade):
    print("Seu nome é {}, você tem {} anos e mora em {}.".format(nome, idade, cidade))

dadosPessoais("José", 30, "Maceió")

Seu nome é José, você tem 30 anos e mora em Maceió.

In [ ]:
#podendo tambpem ser utilizados valores default
dadosPessoais(idade=56, cidade="Florianópolis", nome="Ana")

Seu nome é Ana, você tem 56 anos e mora em Florianópolis.

### Funções com resposta
Uma função pode ter uma "resposta". Por exemplo, nossa função pode ser uma conta, e o resultado da conta pode ser útil em nosso programa. Dizemos que essas funções __retornam__ um valor. Utilizamos a palavra __return__ para fazer uma função retornar sua resposta. Quando uma função retorna um valor, ela pode ser usada em expressões matemáticas ou lógicas, ter seu valor atribuído a uma variável, etc.

In [ ]:
def somatorio(lista):
    soma = 0
    for item in lista:
        soma += item
    return soma

numeros = [1, 2, 3, 4, 5]
soma_dos_numeros = somatorio(numeros)
print("A soma dos elementos da lista vale: ", soma_dos_numeros)

if somatorio(numeros) > 50:
    print("Que soma grande!")
else:
    print("Que soma pequena!")

A soma dos elementos da lista vale:  15
Que soma pequena!

### Funções recursivas
Algumas funções são chamadas funções recursivas. A recursividade (ou recursão) é uma propriedade na qual uma função faz referência a si mesma. Quando a função encontra uma nova referência, ela irá pausar sua execução atual e iniciar a execução da nova instância, para só então retomar sua execução.

Assim como nos loops, é necessário ter alguma condição para que as chamadas recursivas sejam interrompidas, evitando que executem para sempre.

In [ ]:
def funcaoRecursiva(numero):
    if (numero != 1):
        funcaoRecursiva(numero - 1)
    print(numero)

print("Testando a função recursiva:")
funcaoRecursiva(10)

Testando a função recursiva:
1
2
3
4
5
6
7
8
9
10

Note que no exemplo acima passamos 10 para a função. Sua execução foi interrompida por uma nova chamada passando 9, depois 8, depois 7... Ao chegar em 1, ele foge da condicional e imprime 1, encerrando a execução. Então a instância que recebeu 2 tambem conclui sua execução, depois a chamada 3, a 4... A 10, que foi a 1a chamada, encerra por último.

Dizemos que é um comportamento de pilha - exatamente como uma pilha de pratos sobre a mesa: O primeiro prato que foi colocado sobre a mesa será o último a sair, pois todos os pratos colocados sobre ele precisam ser retirados antes de você poder retirar o último.

Problemas recursivos normalmente são problemas do tipo "dividir para conquistar": Temos um "caso base", ou seja, um ou mais casos onde há uma resposta direta; E temos um "caso geral", que é uma versão reduzida do problema original.

## Funções II

Agrupando parâmetros
Podemos utilizar o operador * - que, neste caso, não será uma multiplicação. Ao colocarmos o * ao lado do nome de um parâmetro na definição da função, estamos dizendo que aquele argumento será uma coleção. Mais especificamente, uma tupla. Porém, o usuário não irá passar uma tupla. Ele irá passar quantos argumentos ele quiser, e o Python automaticamente criará uma tupla com eles:

In [ ]:
def piscina(*infos):
    vol = infos[0]*infos[1]*infos[2]
    return vol

volume = piscina(5, 4, 5)

print('O volume é: ', volume)

O volume é:  100

Podemos utilizar o operador * na chamada da função também. Na definição, o operador * indica que devemos agrupar itens avulsos em uma coleção. Na chamada, ele indica que uma coleção deve ser expandida em itens avulsos:

In [ ]:
def piscina(prof, largura, comprimento):
    vol = prof*largura*comprimento
    return vol

lista = [5, 4, 5]

volume = piscina(*lista)

print('O volume é: ', volume)

O volume é:  100

### Parâmetros opcionais
Outra possibilidade são funções com parâmetros opcionais. Note que isso é diferente de termos quantidade variável de parâmetros. No caso da quantidade variável, normalmente são diversos parâmetros com a mesma utilidade (números a serem somados, valores a serem exibidos etc), enquanto os parâmetros opcionais são informações distintas que podem ou não ser passadas para a função.

Para criar parâmetros opcionais, usaremos **, e os parâmetros passados serão agrupados em um dicionário: o nome do parâmetro será uma chave, e o valor será... O valor.

In [ ]:
def piscina(prof, **infos):
    vol = prof*infos['largura']*infos['comprimento']
    return vol

volume = piscina(5, largura=4, comprimento=5)

print('O volume é: ', volume)

O volume é:  100

In [ ]:
#funções utilizando múltiplos parâmetros
def calcula_media(valor1, valor2, valor3):
  return (valor1 + valor2 + valor3) / 3
calcula_media(1, 2, 3)

2.0

In [ ]:
#método LetsCode
def calcula_media(*args):
  soma = sum(args)
  media = soma / len(args)
  return media
  
#meu jeito simplificado
def media_outro_jeito(*args):
  return sum(args) / len(args)
media_outro_jeito(1, 2, 3, 4, 5)

3.0

In [ ]:
def soma_qualquer_teste(*args, margem):
  soma = sum(args)
  media = soma / len(args)
  return media + margem
soma_qualquer_teste(3, 2, 1, margem=1)

3.0

In [ ]:
def print_info(**kwargs):
  print(kwargs, type(kwargs))
print_info(nome='Rodrigo', sobrenome='Weber')

{'nome': 'Rodrigo', 'sobrenome': 'Weber'} <class 'dict'>